.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  @include font($fs: 20px, $fw: 700, $lh: 23px);
  margin-bottom: 12px;
  text-align: center;

  color: var(--text-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);

  &-element {
    position: relative;
    display: block;
    margin-top: 4px;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  .modal-form-input:focus + &,
  .modal-form-input:hover + & {
    fill: var(--accent-color);
  }
}

.modal-form-input {
  @extend %input;
  padding-left: 42px;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.modal-form-message {
  @extend %input;

  height: 120px;
  padding: 12px 16px;
  resize: none;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--set-gap);

  line-height: 1.71;
  text-align: center;
  color: var(--secondary-text-color);

  &::before {
    content: '';
    display: block;
    margin-right: 9px;
    width: 16px;
    height: 16px;

    border: 2px solid #000000;
    border-radius: 2px;
    cursor: pointer;

    .modal-form-checkbox:checked + & {
      background-image: url(../images/icons/icon-check.svg);
      background-color: var(--accent-color);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-origin: border-box;
      border-color: transparent;
    }

    .modal-form-checkbox:focus + & {
      border: 2px solid var(--accent-color);
    }
  }
}

.modal-form-checkbox-link {
  color: var(--accent-color);
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin: 0 auto;
  padding: 10px 56px;
  letter-spacing: 0.06em;
  color: var(--accessary-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transform: background-color 250ms var(--function-transition);

  &:hover,
  &:focus {
    background-color: var(--button-color);
  }
}
